
// Import fonts from Google Fonts.
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:600,300);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 2rem;
}

body {
  padding: 30px;  
}

* {
  /* Reset box sizing. */
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway';
  letter-spacing: 1px;
}

h1 {
  line-height: 2.2rem;
}

h2 {
  margin: 3rem 0 2rem 0;
}

.note {
  font-style: italic;  
  margin-bottom: 1.5rem;
}

code,
.code,
pre {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  font-style: normal;
    font-size: .9rem;
    line-height: 1.5rem;
  
    $code-bg-color: hsla(360, 15%, 97%, 1);
  border: 1px solid darken($code-bg-color, 20%);
  border-radius: .3rem;
  padding: 1px 4px;
    
    background-color: $code-bg-color;
}

pre code {
  border: none;
}
