doctype html

html
    head
        title= file.title
        
        link(href="/styles/base.css", rel="stylesheet")
    
    body
        hr
        
        p This is a basic test of a pure Jade file. The post file has no contents, and any contents that would be provided would be ignored by this template.

        hr